<nav class="navbar-expand-md sticky-top navbar-dark bg-dark">
  <div class="container">
    <a href="#" class="navbar-brand">Quiz</a>
    <button
      class="navbar-toggler"
      type="button"
      data-target="#navbarMain"
      data-toggle="collapse"
    >
      <span class="navbar-toggler-icon ml-auto"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
