body {
  background: url(./assets/images/del-&-rod.jpg);
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 50px;
  background-color: #f37c14;
}

.dark-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.card {
  border: 2px solid #fff;
}
