body {
  background: url(./assets/images/del-&-rod.jpg);
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 50px;
  background-color: #f37c14;
}

.card {
  border: 2px solid #fff;
}

input.ng-invalid.ng-touched {
  border-color: 2px solid red;
  box-shadow: none !important;
}

input.ng-invalid.ng-touched:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 10, 29, 0.25) !important;
}
